.video {
  width: 25%;
  min-height: 28rem;
  max-height: 28rem;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 1.4;
  cursor: pointer;
  position: relative;
}

.video__videoImg {
  width: 100%;
  height: 15rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.video__info {
  display: flex;
  margin: 1.2rem 0;
}

.video__info__channelAvt {
  margin-right: 1.5rem;
}
.video__info__channelAvt > img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 30rem;
}

.video__info__videoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4rem;
  text-transform: capitalize;
  font-weight: 550;
  line-height: 1.3;
  opacity: 0.9;
  margin-bottom: 0.5rem;
}

.video__info__channel {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(99, 99, 99);
  text-transform: capitalize;
}

.video__info__channel__name {
  margin-right: 0.8rem;
}

.video__info__channel__verify {
  width: 1.3rem;
}

.video__info__view-time {
  color: rgb(99, 99, 99);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  text-transform: none;
}
