.recommendedVideo {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.recommendedVideo__videoAvt {
  width: 43%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

.recommendedVideo__info {
  width: 52%;
  padding: 0 0 0 0.8rem;
}

.recommendedVideo__info__title {
  margin: 0 0 0.8rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.recommendedVideo__info__ownerChannel {
  margin: 0 0 0.5rem;
}

.recommendedVideo__info__viewsAndTime {
  display: flex;
  align-items: center;
}

.recommendedVideo__info__viewsAndTime__time {
  margin: 0 0 0 1rem;
}

.recommendedVideo--color {
  color: rgb(86, 80, 80);
}
