.videoPlaying {
  width: 63%;
  height: 100vh;
}

/* video */
.videoPlaying__video > video {
  width: 100%;
}

/* video tags */
.videoPlaying__tags {
  padding: 1rem 0 0;
  font-size: 1.2rem;
  color: rgb(6, 95, 212);
}
/* video title */

.videoPlaying__title {
  font-size: 2rem;
  /* text-transform: capitalize; */
  font-weight: 550;
}

/* taskbar interact with video */

.watchVideo__interactWithVideo,
.watchVideo__interactWithVideo__channel,
.watchVideo__interactWithVideo__menu,
.watchVideo__interactWithVideo__menu__feel,
.watchVideo__interactWithVideo__menu__feel__like,
.watchVideo__interactWithVideo__menu__feel__disLike,
.watchVideo__interactWithVideo__menu__shareVideo {
  display: flex;
  align-items: center;
}

.watchVideo__interactWithVideo {
  justify-content: space-between;
  padding: 1.5rem 0;
}
.interactWithVideo--iconSize {
  width: 1.8rem;
}

/* channel */

.watchVideo__interactWithVideo__channel__avtChannel {
  width: 4.2rem;
  border-radius: 3rem;
}

.watchVideo__interactWithVideo__channel__info {
  margin: 0 2.5rem 0 1.5rem;
}

.watchVideo__interactWithVideo__channel__info__channelName {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0 0.4rem;
}
.watchVideo__interactWithVideo__channel__info__subscribers {
  font-size: 1.2rem;
  color: rgb(86, 80, 80);
  text-transform: capitalize;
}

.watchVideo__interactWithVideo__channel__subscriptionButton {
  font-weight: bold;
  background-color: black;
  padding: 1.2rem 1.5rem;
  color: white;
  border-radius: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.watchVideo__interactWithVideo__channel__subscriptionButton:hover {
  opacity: 0.8;
}

/* menu  */
.watchVideo__interactWithVideo__menu {
  font-size: 1.4rem;
}

.watchVideo__interactWithVideo__menu__options__optionsIcon {
  width: 2.4rem;
}

.watchVideo__interactWithVideo__menu__feel {
  background-color: var(--interactWithVideo__buttonBackground);
  text-transform: capitalize;
  border-radius: 3rem;
}

.watchVideo__interactWithVideo__menu__feel__like {
  padding: 0.9rem 1.5rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-right: 0.1rem solid rgb(205, 205, 205);
}

.watchVideo__interactWithVideo__menu__feel__disLike {
  padding: 0.9rem 1.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.watchVideo__interactWithVideo__menu__feel__like__subscribers {
  margin: 0 0 0 1rem;
  font-weight: bold;
}
/* share video with options */
.watchVideo__interactWithVideo__menu__shareVideo {
  padding: 0.9rem 2rem;
  margin: 0 1rem;
  background-color: var(--interactWithVideo__buttonBackground);
  border-radius: 3rem;
  font-weight: bold;
}
.watchVideo__interactWithVideo__menu__shareVideo__text {
  margin: 0 0 0 1rem;
  text-transform: capitalize;
}

/* */
.watchVideo__interactWithVideo__menu__options {
  padding: 0.6rem;
  background-color: var(--interactWithVideo__buttonBackground);
  border-radius: 3rem;
  display: flex;
  align-items: center;
}

/* descriptor */

.videoPlaying__descriptor {
  height: 10rem;
  padding: 1.2rem;
  background-color: var(--interactWithVideo__buttonBackground);
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 1.4;
}
.videoPlaying__descriptor__top {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}
.videoPlaying__descriptor__top__views {
  margin: 0 1rem 0 0;
}
.videoPlaying__descriptor__top__views > span {
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.videoPlaying__descriptor__bottom {
  height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videoPlaying__descriptor__showContentBtn {
  font-weight: bold;
  box-shadow: -2rem 0rem 2rem rgb(229, 229, 229);
}

.watchVideo__interactWithVideo__menu__feel__like:hover,
.watchVideo__interactWithVideo__menu__feel__disLike:hover,
.watchVideo__interactWithVideo__menu__shareVideo:hover,
.watchVideo__interactWithVideo__menu__options:hover,
.videoPlaying__descriptor:hover {
  background-color: var(--interactWithVideo__buttonHover);
  cursor: pointer;
}

/* bottom*/

.videoPlaying__bottom__analysisAndTool {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
}

.videoPlaying__bottom__comment {
  display: flex;
}

.videoPlaying__bottom__comment__userAvt {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 3rem;
  margin: 0 1.5rem 0 0;
}

.videoPlaying__bottom__comment__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoPlaying__bottom__comment__form__input {
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--interactWithVideo__buttonHover);
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
}

.videoPlaying__bottom__comment__form__input:focus {
  border-bottom: 0.2rem solid black;
}

.videoPlaying__bottom__comment__form__button {
  align-self: flex-end;
}

.button--custom {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: bold;
}

.videoPlaying__bottom__comment__form__button__cancel {
  background-color: white;
}
.videoPlaying__bottom__comment__form__button__send {
  color: rgb(141, 141, 141);
  margin: 0 0 0 1rem;
  background-color: var(--interactWithVideo__buttonBackground);
}

.videoPlaying__bottom__comment__form__button__cancel:hover {
  background-color: var(--interactWithVideo__buttonHover);
}

.enable__commentBtn {
  background-color: black;
  color: white;
}
